{{define "adminloginmenu"}}
<br>
<div><a href="/listallusers">List All Users</a></div>
<div><a href="/deleteuser">Delete A User</a></div>
<div><a href="/viewapptsbydate">View available appointments by date</a> </div>
<div><a href="/addapptsfordate">Add available appointments for a date</div>
<div><a href="/logout">Log Out</a></div>
<br>
{{end}}