{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Go In Action I 06/03/2021">
    <meta name="author" content="Pallavi Limaye">
    <title>COVID-19 Vaccine Appointment System</title>
    <link rel="stylesheet" href="/resources/styles.css">
</head>
{{end}}