{{define "userloginmenu"}}
<br>
<div><a href="/viewappt">View appointments</a></div>
<div><a href="/makeappt">Make appointments</a></div>
<div><a href="/deleteappt">Delete appointments</a> </div>
<div><a href="/profile">View Profile</div>
<div><a href="/logout">Log Out</a></div>
<br>
{{end}}